body {
    background-image: url("./cool-backgrounds-hd-vector-pack-deals-bypeople-featured.jpg");
    font-family: Arial, sans-serif;
    background-size: cover; /* Da bi slika pokrivala cijeli ekran */
    background-position: center; /* Centriranje slike */
    background-attachment: fixed; /* Fiksiranje pozadine */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff; /* Bijeli naslov */
}

#program-list {
    text-align: center;
}

.link-box {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 2px solid #4a69bd; /* Tamnoplava granica */
    border-radius: 10px;
    background-color: #485460; /* Tamnoplava pozadina */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sjenka */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animacija promjene boje pozadine i transformacije */
}

.link-box:hover {
    background-color: #4a69bd; /* Tamnoplava pozadina na hover */
    transform: translateY(-3px); /* Pomjeramo link nagore */
}

.link-box a {
    color: #ddd; /* Sivo slova */
    text-decoration: none; /* Isključujemo podvučenu liniju */
}

/* Ostali stilovi */
footer {
    text-align: center;
    margin-top: 50px; /* Povećavamo razmak između programa i dugmeta */
}

.button-container {
    display: flex;
    justify-content: center;
}

.chat-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    margin-right: 10px; /* Dodajemo razmak između dugmadi */
}

.chat-button:last-child {
    margin-right: 0; /* Uklanjamo marginu s desne strane posljednjeg dugmeta */
}

.chat-button-green {
    background-color: #4CAF50; /* Zelena boja */
}

.chat-button-blue {
    background-color: #0074D9; /* Plava boja */
}

.chat-button-purple {
    background-color: #B10DC9; /* ljubicasta boja */
}

.chat-button:hover {
    transform: translateY(-3px);
}